<%= form_with(model: service, local: true, html: { multipart: true}) do |form| %>
  <% if service.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>    
  <% end %>

    <div class="field">
        <div class="row align-center servicio_nuevo_nombre">
            <div class="columns large-5">
                <%= form.text_field :nombre, id: :service_nombre, placeholder: "Nombre del servicio" %>
            </div>
        </div>
    </div>

    <div class="field">
        <div class="row align-center servicio_nueva_descripcion">
            <div class="columns large-5">
                <%= form.text_area :descripcion, id: :service_descripcion, placeholder: "Descripción del servicio" %>
            </div>
        </div>
    </div>  

  
    <div class="field">
        <div class="row align-center servicio_nuevo_valor">
            <div class="columns large-5">
                    <%= form.number_field :valor, id: :service_valor, placeholder: "Digite el valor" %>
            </div>
        </div>
    </div>

    <div class="field">
        <div class="row align-center servicio_nueva_categoria">
            <div class="columns large-5">
                    <%= form.select :categoria, Service.categoria.keys, placeholder: "Seleccione una categoria" %>
            </div>
        </div>
    </div>
     
    <div class="actions">
        <div class="row align-center">
            <div class="columns text-center large-4">
                <%= form.submit "Crear servicio", :class => "button primary" %>
            </div>
        </div>
    </div>
<% end %>


    

    

