<%= form_with(model: service, local: true, html: { multipart: true}) do |form| %>
  <% if service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :service_nombre %>
  </div>

  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_area :descripcion, id: :service_descripcion %>
  </div>

  <div class="field">
    <%= form.label :valor %>
    <%= form.number_field :valor, id: :service_valor %>
  </div>

  <div class="field">
    <%= form.label :categoria %>
    <%= form.select :categoria, Service.categoria.keys %>
  </div>

  <div class="field">
    <%= form.file_field :avatar %>
  </div>  
  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
