<div class="row" style="margin-top: 80px; margin-bottom: 80px;">
  <div class="columns text-center large-12">
    <h1>Ingresos</h1>    
  </div>
</div>

<div class="row ">
  <div class="columns text-center large-12">
    <table>
      <thead>
        <tr>
          <th>Descripción</th>
          <th>Valor</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @tracings.each do |tracing| %>
          <tr>
            <td><%= tracing.descripcion %></td>
            <td><%= tracing.valor %></td>
            <td><%= link_to 'Editar', edit_tracing_path(tracing) %></td>
            <td><%= link_to 'Eliminar', tracing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="columns large-12">
    <p>Total: <%= @total %></p>
  </div>
</div>
<br>
<div class="row" style="margin-bottom: 50px;">
  <div class="columns text-center large-12">
    <%= link_to 'New Tracing', new_tracing_path, class: "hollow button secondary" %>    
  </div>
</div>

