<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @tracing.descripcion %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @tracing.valor %>
</p>

<%= link_to 'Edit', edit_tracing_path(@tracing) %> |
<%= link_to 'Back', tracings_path %>
