<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong>
  <%= @appointment.fecha %>
</p>

<p>
  <strong>Horario:</strong>
  <%= @appointment.horario %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
