<header class="header">
      <div data-sticky-container>
        <div class="title-bar sticky" data-sticky data-options="marginTop:0;"  style="width:100%;">
          <div class="title-bar-left"><h1>SUPER GOMELITOS</h1></div>
          <div class="title-bar-right">
            <ul class="menu dropdown" data-dropdown-menu>
              <li>
                <%= link_to 'inicio', root_path %>
              </li>
              <li> 
                <%= link_to 'Servicios', services_path %>
              </li>
              <li> 
                <%= link_to 'Eventos', events_path %>
              </li>
              <li> 
                <%= link_to 'Contacto', homes_contact_path %>
              </li>
              <li> 
                <a href="#">Admin</a>
                <ul id="submenu-header">
                  <% if user_signed_in? %>
                    <li>
                      <%= link_to 'Editar', edit_user_registration_path %>
                    </li>
                    <li> 
                      <%= link_to 'Seguimiento', tracings_path %>
                    </li>
                    <li> 
                      <%= link_to 'Salir', destroy_user_session_path, method: :delete %>
                    </li>
                  <% else %>
                    <li>
                      <%= link_to 'Iniciar sesion', new_user_session_path%>
                    </li>
                  <% end %>
                </ul>
              </li>            
            </ul>
          </div>
        </div>
      </div>
    </header>