<!DOCTYPE html>
<html>
  <head>
    <title>SuperGomelitos</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>

    <ul>
    	<% if user_signed_in? %>
    		<li>
    			<%= link_to 'Cerrar sesion', destroy_user_session_path, method: :delete %>
    		</li>
    	<% else %>
    	    <li>
    			<%= link_to 'Iniciar sesion', new_user_session_path %>
    		</li> 
    	<% end %>
    </ul>

    <div class="container">
	    <p class="notice"><%= notice %></p>
    	<p class="alert"><%= alert %></p>
    </div>
     
  </body>
</html>
